[submodule "puppeteer-renderer"]
	path = puppeteer-renderer
	url = https://github.com/zenato/puppeteer-renderer
[submodule "docker-puppeteer"]
	path = docker-puppeteer
	url = https://github.com/zenato/docker-puppeteer
